<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="jitendra.tech_hunt">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>

    <application android:allowBackup="true"  android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
         android:theme="@style/AppTheme">
        <activity android:name=".front"  android:theme="@style/full"  android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Main" android:theme="@style/AppTheme" android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".instr" android:theme="@style/AppTheme" android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".question" android:theme="@style/AppTheme" android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".map" android:theme="@style/AppTheme" android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

        </activity>
        <activity android:name=".map2" android:theme="@style/AppTheme" android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

        </activity>
        <activity android:name=".map3" android:theme="@style/AppTheme" android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

        </activity>
        <activity android:name=".map4" android:theme="@style/AppTheme" android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

        </activity>
        <activity android:name=".map5" android:theme="@style/AppTheme" android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

        </activity>
    <activity android:name=".thnku" android:theme="@style/AppTheme" android:label="@string/app_name" android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
        </intent-filter>

    </activity>





    </application>

</manifest>
